html { background: #000000; }

#app {
  font-family: 'ubuntu_monoregular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background: #000000;
}

main {
  padding: 0 20px;
}

a, .nav-item a {
  color: #ffffff;

  &:hover {
    color: #ffffff !important;
  }

  &:active, &:visited {
    color: #ffffff;
  }
}

.page-title, .bordered-left {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;
  border-left: 15px solid #ffffff;
  padding-left: 20px;
  word-wrap: break-word;
}

.pagination-buttons {
  display: block;
  margin-top: 80px;
  border-top: 3px solid rgba(255, 255, 255, 0.3);

  .btn {
    font-size: 21px;
    color: #fff;
    
    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
    }
  }
}

footer {
  margin-top: 50px;
  background-color: #000000;
  padding: 30px;

  .footer-links {
    svg {
      width: 25px;
    }

    a {
      margin: 5px;
      color: #ffffff;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer-support {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
    max-width: 900px;
    margin: 0 auto 30px auto;

    h4 {
      margin-bottom: 30px;
    }

    a {
      margin: 5px;
      text-decoration: none;
    }
  }

  .quebradev-footer {
    margin-top: 20px;
    font-size: 15px;
    color: #ccc;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-toggler {
    border: none;
  }
}