.members-wrapper {
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  max-width: 900px;
  margin: 50px auto;
  padding: 40px 0;

  h1 {
    margin-bottom: 40px;
  }

  .member {
    margin: 20px 0;

    .member-photo {
      padding: 0;

      img {
        padding: 0;
      }
    }

    .member-name {
      font-size: 20px;
    }

    .member-info {
      padding: 0;
      position: absolute;
      top: 0;
      background: rgba(0,0,0, 0.6);
      height: 100%;
      text-align: center;
      padding-top: 110px;

      .member-links {
        a {
          svg {
            width: 30px;
            transition: .2s ease;
          }

          &:hover {
            svg {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .members-wrapper {
    .member {
      .member-info {
        padding-top: 42px;

        .member-links {
          a {
            svg {
              width: 20px;
            }
          }
        }
      }
      .member-name {
        font-size: 15px;
      }
    }
  }
}
