<%- partial('_partial/head') %>
    <body id="app">
        <%- partial('_partial/navbar') %>

        <main role="main" class="container">
            <%- body %>
        </main>

        <%- partial('_partial/footer') %>
    </body>
</html>