<div class="mediakit-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Conferência Tecnologia e Sociedade</h1>
            <div class="subtitle">
                <p>Tecnologia para quem?</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Descrição</h3>
            <p>....</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Programação</h3>
            <p>....</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Inscreva-se</h3>
            <p>....</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Apoiadores</h3>
            <p>....</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Patrocinio</h3>
            <p>....</p>
        </div>
    </div>

    <div class="text-center contact-email">
        <p>Entre em contato com a gente através do email <a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a></p>
    </div>
</div>