<div class="mediakit-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Conferência Tecnologia e Sociedade</h1>
            <div class="subtitle">
                <p>Tecnologia para quem?</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-left">
            <h3>Descrição</h3>
            <p>A CTS tem como objetivo discutir alguns dos impactos da tecnologia na sociedade.</p>
            <br>
            <p>Existem diferentes eventos que buscam disseminar conhecimentos técnicos, aqui o objetivo é conversar sobre como a tecnologia impacta em nossas vidas.</p>
            <br>
            <p>Colocaremos em contato com o público participante, pessoas que formulam hipóteses e trabalham com pesquisa de problemáticas, além de possíveis soluções para que possamos construir futuramente, formas comunitárias de bem viver.</p>
            <br>
            <p>A tecnologia por diferentes momentos da história, se mostrou como uma poderosíssima ferramenta de descentralização de conhecimento e poder, com o capital manipulando-a e a colocando em seu favor, será isso, possível?</p>
            <br>
            <p>As ferramentas construídas por pessoas militantes, ativistas, trabalhadoras, pesquisadoras, etc, estão nas mãos de quem? Quem modifica as ferramentas que modificam a forma com que enxergamos o mundo?</p>
            <br>
            <p>Como questionamento central para esta primeira edição (que é uma edição piloto) nós gostaríamos de trazer a reflexão: <b>Tecnologia Para Quem?</b></p>
            <p>
                <b>Data:</b> 28 de outubro de 2023 <br>
                <b>Dia:</b> Sábado <br>
                <b>Horário:</b> Das 13hrs às 19hrs <br>
            </p>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Programação</h1>
            <div class="text-center">
                <p>Programação da Conferência</p>
            </div>
        </div>

        <div class="event col-6">
            <h3>Credenciamento</h3>
            <p><strong>Horário:</strong> 13hrs</p>
            <p><strong>Conteúdo:</strong> Abertura do Credenciamento e Coffe Break</p>
        </div>
        <div class="event col-6">
            <h3>Abertura da Conferência</h3>
            <p><strong>Horário:</strong> 14hrs</p>
            <p><strong>Conteúdo:</strong> Abertura da Conferência com Falas Inicias do QuebraDev e do Sindicato</p>
        </div>
        <div class="event col-6">
            <h3>Mesas, palestras e conteúdo</h3>
            <p><strong>Horário:</strong> 14:20 às 19:00</p>
            <p><strong>Conteúdo:</strong> Maiores detalhes dos participantes e convidados em breve, se inscreva para não perder nenhuma atualização.</p>
            <p><strong>Por:</strong> A confirmar convidados</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Inscreva-se</h3>
            <p>....</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Parceiros desta conferência</h3>

            <section class="container text-center">
                <section class="footer-support">
                    <a href="https://www.sindpd.org.br/" target="_blank" title="Logo SindPD SP">
                        <img src="https://sindpd.org.br/sindpd/site/images/logoRodape.png" alt="Logo SindPD SP" height="60">
                    </a>
                </section>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Patrocinio</h3>
            <p>Quer ser um patrocinador? Veja nosso <u><a href="https://docs.google.com/presentation/d/1ZoS8qmXBBe3Tuy4TFpyt5evp-ET_ESr5pg1GDKqZzt8/edit?usp=sharing" target="_blank">material</a></u> de patrocinio e entre em contato conosco.</p>
        </div>
    </div>

    <div class="text-center contact-email">
        <p><a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a>
    </div>
</div>