<div class="mediakit-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Conferência Tecnologia e Sociedade</h1>
            <div class="subtitle">
                <p>Tecnologia para todos!</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-left">
            <h3>Descrição</h3>
            <p>Na edição passada, fizemos a pergunta: Tecnologia para Quem? Com isso, trouxemos diversas pessoas para desafiar a ideia de que a tecnologia deve servir apenas a propósitos mercadológicos, trazendo o debate para a esfera do uso da tecnologia em benefício das comunidades periféricas e apresentando reflexões sobre como isso pode ser alcançado.</p>
            <p>Nesta edição, vamos debater o tema: Tecnologia para Todos! Queremos que a produção técnico-científica da tecnologia seja pensada para todas as pessoas e que possa alcançar a todos. A ideia central é projetar e refletir sobre as possibilidades dessas tecnologias em nossos territórios, construídos pelos coletivos populares, cientistas de grupos sociais marginalizados e trabalhadores.</p>
            <p>Esperamos que você possa contribuir e participar ativamente dessa construção e debate.</p>
            <p>
                <b>Data:</b> 23 de Novembro de 2024 <br>
                <b>Dia:</b> Sábado <br>
                <b>Horário:</b> Das 09hrs às 16hrs <br>
            </p>
            <p>
                <strong>Onde:</strong> <a href="https://www.google.com/maps/search/Ateli%C3%AA+do+Bixiga,+Rua+Conselheiro+Ramalho,+945+Bela+Vista,+S%C3%A3o+Paulo,+SP" target="_blank" title="Localização do evento no Google Maps.">Ateliê do Bixiga, São Paulo - SP</a>
            </p>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Programação</h1>
            <div class="text-center">
                <p>Programação da Conferência</p>
            </div>
        </div>

        <div class="event col-12">
            <h3>Em breve</h3>
            <p><strong>Horário:</strong> 09hrs</p>
            <p><strong>Conteúdo:</strong> Em breve</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Inscreva-se</h3>
            <p>Se inscreva usando a plataforma Sympla, clicando <a href="https://www.sympla.com.br/evento/conferencia-tecnologia-e-sociedade-tecnologia-para-todos/2644554?cache=nao" target="_blank"><u>aqui</u></a></p>
            <!-- <p>Traga um 1kg de alimento não perecivel que será doado para as Cozinhas Solidárias do MTST.</p> -->
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Apoie esta Conferência</h3>
            <p>Para mantermos todos os ingressos grátis e pagar os custos necessários para produção de um evento precisamos da sua ajuda. Qualquer valor é bem vindo!</p>
            <p>Clicando na imagem abaixo você irá acessar a nossa página no Padrim, ou você pode ler o QrCode direto com seu aplicativo do banco com o pix.</p>
        </div>

        <div class="col-12 padrim-image text-center">
            <a href="https://padrim.com.br/quebradev" target="_blank" title="Padrim QuebraDev - Apoie">
                <img src="/images/QrCode.png" alt="Padrim QuebraDev - Apoie">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Parceiros desta conferência</h3>

            <section class="row">
                <section class="col">
                    <a href="https://opara.me/" target="_blank" title="Logo Opará">
                        <img src="/images/oparame.png" alt="Logo Opará" height="60">
                    </a>
                </section>
                <section class="col">
                    <a href="https://comunidade.afroya.tech/quemsomos" target="_blank" title="Logo Afroya Tech Conf">
                        <img src="/images/afroya.jpeg" alt="Logo Afroya Tech Conf" height="60">
                    </a>
                </section>
            </section>
            
            <br/>

            <p>Seja um parceiro, envie um e-mail para <a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a> e saiba como nos ajudar financeiramente ou não.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Patrocinio</h3>
            <p>Quer ser um patrocinador? Veja nosso <u><a href="https://docs.google.com/presentation/d/1ZoS8qmXBBe3Tuy4TFpyt5evp-ET_ESr5pg1GDKqZzt8/edit?usp=sharing" target="_blank">material</a></u> de patrocinio e entre em contato conosco.</p>
        </div>
    </div>

    <div class="text-center contact-email">
        <p><a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a></p>
    </div>
</div>
