<div class="mediakit-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Conferência Tecnologia e Sociedade</h1>
            <div class="subtitle">
                <p>Tecnologia para quem?</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-left">
            <h3>Descrição</h3>
            <p>A CTS tem como objetivo discutir alguns dos impactos da tecnologia na sociedade.</p>
            <p>Existem diferentes eventos que buscam disseminar conhecimentos técnicos, aqui o objetivo é conversar sobre como a tecnologia impacta em nossas vidas.</p>
            <p>Colocaremos em contato com o público participante, pessoas que formulam hipóteses e trabalham com pesquisa de problemáticas, além de possíveis soluções para que possamos construir futuramente, formas comunitárias de bem viver.</p>
            <p>A tecnologia por diferentes momentos da história, se mostrou como uma poderosíssima ferramenta de descentralização de conhecimento e poder, com o capital manipulando-a e a colocando em seu favor, será isso, possível?</p>
            <p>As ferramentas construídas por pessoas militantes, ativistas, trabalhadoras, pesquisadoras, etc, estão nas mãos de quem? Quem modifica as ferramentas que modificam a forma com que enxergamos o mundo?</p>
            <p>Como questionamento central para esta primeira edição (que é uma edição piloto) nós gostaríamos de trazer a reflexão: <b>Tecnologia Para Quem?</b></p>
            <p>
                <b>Data:</b> 28 de outubro de 2023 <br>
                <b>Dia:</b> Sábado <br>
                <b>Horário:</b> Das 13hrs às 19hrs <br>
            </p>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Programação</h1>
            <div class="text-center">
                <p>Programação da Conferência</p>
            </div>
        </div>

        <div class="event col-6">
            <h3>Credenciamento</h3>
            <p><strong>Horário:</strong> 13hrs</p>
            <p><strong>Conteúdo:</strong> Abertura do Credenciamento e Coffe Break</p>
        </div>
        <div class="event col-6">
            <h3>Abertura da Conferência</h3>
            <p><strong>Horário:</strong> 14hrs</p>
            <p><strong>Conteúdo:</strong> Abertura da Conferência com Falas Inicias do QuebraDev e do Sindicato</p>
        </div>
        <div class="event col-6">
            <h3>Mesas, palestras e conteúdo</h3>
            <p><strong>Horário:</strong> 14:20 às 19:00</p>
            <p><strong>Conteúdo:</strong> Maiores detalhes dos participantes e convidados em breve, se inscreva para não perder nenhuma atualização.</p>
            <p><strong>Por:</strong> A confirmar convidados</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Inscreva-se</h3>
            <p>Se inscreva usando a plataforma Sympla, clicando <a href="https://www.sympla.com.br/evento/conferencia-tecnologia-e-sociedade-tecnologia-para-quem/2129140" target="_blank"><u>aqui</u></a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Apoie esta Conferência</h3>
            <p>Para mantermos todos os ingressos grátis e pagar os custos necessários para produção de um evento precisamos da sua ajuda. Qualquer valor é bem vindo!</p>
            <p>Clicando na imagem abaixo você irá acessar a nossa página no Padrim, ou você pode ler o QrCode direto com seu aplicativo do banco com o pix.</p>
        </div>

        <div class="col-12 padrim-image text-center">
            <a href="https://padrim.com.br/quebradev" target="_blank" title="Padrim QuebraDev - Apoie">
                <img src="/images/QrCode.png" alt="Padrim QuebraDev - Apoie">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Parceiros desta conferência</h3>

            <section class="row">
                <section class="col-3">
                    <a href="https://www.sindpd.org.br/" target="_blank" title="Logo SindPD SP">
                        <img src="/images/novo_sindpd_branco.png" alt="Logo SindPD SP" height="60">
                    </a>
                </section>
                <section class="col-3">
                    <a href="http://feittinf.org.br/" target="_blank" title="Logo Feittinf">
                        <img src="/images/logo_branco_feittinf.png" alt="Logo Feittinf" height="60">
                    </a>
                </section>
                <section class="col-3">
                    <a href="https://nucleodetecnologia.com.br/" target="_blank" title="Logo Nucleo de Tecnologia MTST">
                        <img src="/images/nucleo-mtst.png" alt="Logo Nucleo de Tecnologia MTST" height="60">
                    </a>
                </section>
                <section class="col-3">
                    <a href="https://www.youtube.com/programacaodinamica" target="_blank" title="Logo Programação Dinamica">
                        <img src="/images/programacao-dinamica.jpeg" alt="Logo Programação Dinamica" height="60">
                    </a>
                </section>
            </section>
            <section class="row" style="margin-top: 50px;">
                <section class="col-3">
                    <a href="https://todasasletras.org/" target="_blank" title="Logo Todas as Letras">
                        <img src="/images/todas-as-letras.png" alt="Logo Todas as Letras" height="60">
                    </a>
                </section>
                <section class="col-3">
                    <a href="https://www.linuxtips.io/" target="_blank" title="Logo Linux Tips">
                        <img src="/images/linuxtips.png" alt="Logo Linux Tips" height="60">
                    </a>
                </section>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Patrocinio</h3>
            <p>Quer ser um patrocinador? Veja nosso <u><a href="https://docs.google.com/presentation/d/1ZoS8qmXBBe3Tuy4TFpyt5evp-ET_ESr5pg1GDKqZzt8/edit?usp=sharing" target="_blank">material</a></u> de patrocinio e entre em contato conosco.</p>
        </div>
    </div>

    <div class="text-center contact-email">
        <p><a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a>
    </div>
</div>