<div class="support-wrapper row">
    <div class="col-12">
        <h1 class="bordered-left" id="como-criar-podcast">Como criar um podcast?</h1>
    </div>

    <div class="support col-12">
        <p>
            Acreditamos que o podcast é uma mídia democrática para produção de conteúdo, com poucos recursos é possível criar e publicar. Isso ajuda a aguçar o pensamento crítico em pessoas que não se sentem representadas e por conta disto, não consomem tanto conteúdo informativo.
            Com isso decidimos criar esta página para tentar explicar um pouco sobre a criação de um podcast. Aqui você irá aprender desde o momento da captação de áudio até a edição e publicação de um episódio de podcast.
        </p>
    </div>

    <div class="col-12">
        <h2 class="bordered-left" id="o-que-e-um-podcast">O que é um podcast?</h2>
    </div>

    <div class="col-12">
        <p>Um podcast é uma mídia de áudio que se assemelha bastante à um programa de rádio, a diferença e a vantagem é que você tem conteúdo sob demanda, quem escolhe o que vai ouvir é você, não precisa esperar um horario específico para ouvir algo. Existem incontáveis canais com incontáveis temas e é uma ótima forma de consumir conteúdo, você só precisa ouvir.</p>
    </div>

    <div class="col-12">
        <h2 class="bordered-left" id="captacao-de-audio">Criação de pauta</h2>
    </div>

    <div class="col-12">
        <h4><strong>O que é uma pauta?</strong></h4>
        <p>A pauta é um documento de texto que irá funcionar como guia para todos os participantes durante a gravação do episódio.</p>
        <p>Nesse documento está descrito em tópicos todos os assuntos e alguns detalhes sobre cada assunto para que o assunto não seja perdido enquanto acontece a gravação.</p>
        <p>Nem sempre é necessário uma pauta, existem alguns podcasts que só vão fluindo o assunto e a conversa acontece. É necessário cada um medir o que precisa para o seus episódios.</p>

        <h4><strong>O Host</strong></h4>
        <p>Geralmente em cada episódio é necessário uma pessoa que irá guiar o assunto, essa pessoa é chamada de host, ela precisa seguir a pauta fazendo com que todos os participantes falem durante a gravação. É também essa pessoa que irá fazer a introdução e a finalização.</p>

        <h4><strong>Como criar?</strong></h4>
        <p>Essa parte de criação vai de podcast para podcast, mas temos um roteiro que usamos no QuebraDev e que pode facilitar para você também. Isso pode ser feito em qualquer documento de texto.</p>

        <p class="underline">1 - Introdução:</p>
        <p>Crie uma introdução fixa para usar em todos os episódios e reutilize essa introdução nas pautas para não esquecer quando for gravar. Aqui você pode colocar palavras que todos irão lembrar quando ouvir seus episódios. Uma caracteristica do QuebraDev é que sempre falamos "Salve quebrada ou Salve perifatechs" nos nossos episódios.</p>
        <p>Também na introdução sempre buscamos apresentar todas as pessoas participantes do episódio e também o tema principal para que o ouvinte saiba o que irá ouvir.</p>

        <p class="underline">2 - Assuntos:</p>
        <p>Separe em tópicos cada assunto do episódio e coloque descrições breves, isso serve para que cada participante não se perca enquanto estiver gravando. É um ótimo guia!</p>
        <p>Cada podcast precisa saber a quantidade de assuntos ideal para a gravação, pois isso depende do tamanho em tempo de cada episódio que você deseja. No QuebraDev buscamos fazer de 3 a 4 assuntos e isso da em torno de 50 minutos cada episódio.</p>

        <p class="underline">3 - Finalização:</p>
        <p>Após completar todos os assuntos, é necessário finalizar o episódio, tenha um texto pronto para a finalização. Aqui você pode falar as referencias, links para rede sociais, etc.</p>
        <p>Faça o que for melhor para seus ouvintes continuarem acompanhando e para que consigam te achar em todas as redes também.</p>

        <p class="underline"><a href="https://docs.google.com/document/d/1ApB1dPt9yZIO3kFOH_cvEx9wovdFUbkpxMxh9b7tw_4/edit?usp=sharing" target="_blank">Clique aqui para ver um exemplo de template de pauta que utilizamos aqui no QuebraDev.</a></p>
    </div>

    <div class="col-12">
        <h2 class="bordered-left" id="captacao-de-audio">Captação de Áudio</h2>
    </div>

    <div class="col-12">
        <h4><strong>Como fazer uma gravação?</strong></h4>
        <p>A gravação pode ser feita de forma presencial ou remota.</p>
        <p>A forma remota pode ser mais acessível, pois cada participante pode fazer de sua própria casa, basta se conectar à algum serviço que realize chamadas de áudio. Exemplo: Discord, Google Meet, Zoom, etc.</p>
        <p>A forma presencial vai exigir alguns componentes a mais, pode ser necessário equipamentos de som para todos os microfones serem captados em um único computador. Também é necessário algum tipo de isolamento no ambiente ou nos microfones para evitar a captação de ecos dos outros participantes durante a gravação.</p>
        <p>Lembre-se que o ideal é que seja gerado um arquivo de áudio para as falas de cada participante. Isso facilita a edição do episódio.</p>

        <p>O video abaixo explica uma pouco sobre a gravação no Discord:</p>

        <iframe width="100%" height="400" src="https://www.youtube.com/embed/VUW9iSxHQOQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>Links úteis:</p>
        <ul>
            <li class="underline"><a href="https://discord.com" target="_blank">discord.com</a></li>
            <li class="underline"><a href="https://craig.chat" target="_blank">craig.chat</a></li>
        </ul>
    </div>

    <div class="col-12">
        <h2 class="bordered-left" id="edicao">Edição</h2>
    </div>

    <div class="col-12">
        <h4><strong>O que é importante na edição?</strong></h4>
        <p>Uma coisa muito importante na edição é que você tenha um arquivo de áudio para cada voz. Isso vai gerar uma facilidade para fazer cortes específicos e remover ruídos que aparecem em uma só voz.</p>
        <p>É muito importante que os ruídos sejam removidos para que o episódio fique agradável para o ouvinte.</p>
        <p>Outra coisa importante é que todas as vozes estejam com o mesmo volume. Escute bem o episódio inteiro e veja os momentos que podem acabar "incomodando" os ouvintes. Podem existir risadas ou falas que estejam com o volume muito alto.</p>

        <h4><strong>Efeitos e Músicas</strong></h4>
        <p>Na edição é onde você irá colocar os efeitos sonoros, as músicas caso tenha e você também poderá criar uma intro para o seu podcast. É algo que irá dar a cara do seu podcast, use a sua criatividade nessa parte!</p>

        <p>Existem alguns sites que disponibilizam efeitos gratuitos:</p>
        <ul>
            <li class="underline"><a href="http://bbcsfx.acropolis.org.uk/" target="_blank">BBC Sound Effects</a></li>
            <li class="underline"><a href="https://www.looperman.com/" target="_blank">Looperman - Loops Gratuitos</a></li>
            <li class="underline"><a href="https://www.youtube.com/audiolibrary" target="_blank">YouTube Sound Effects & Musics</a></li>
        </ul>

        <p>O video abaixo explica uma pouco sobre a edição:</p>

        <iframe width="100%" height="400" src="https://www.youtube.com/embed/5vPJP7-kBNE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>O vídeo é bem curto, abaixo vai alguns links de canais recomendados sobre edição de podcasts:</p>
        <ul>
            <li class="underline"><a href="https://www.youtube.com/watch?v=6tFosHXX6H4" target="_blank">Podcast Studio - Audacity Edição & Gravação</a></li>
            <li class="underline"><a href="https://www.youtube.com/watch?v=7A6sEWJbieA" target="_blank">Podcast Studio - Publicando o Episódio no Anchor</a></li>
        </ul>

        <p>Links úteis:</p>
        <ul>
            <li class="underline"><a href="https://www.audacityteam.org/download/" target="_blank">Página de download do Audacity</a></li>
        </ul>
    </div>

    <div class="col-12">
        <h2 class="bordered-left" id="edicao">Publicação</h2>
    </div>

    <div class="col-12">
        <h4><strong>Distribuição e RSS</strong></h4>
        <p>Para que você tenha o seu podcast distribuído e público, é necessário que tenha um RSS. O RSS nada mais é que um arquivo que contém todos os episódios do seu podcast com todos os detalhes, descrição e o arquivo de áudio.</p>
        <p>Esse RSS deve possuir um endereço público para a internet e outros sites conseguirem acessar.</p>
        <p>Ao usar uma plataforma para publicar seus episódios, a própria plataforma irá gerar o RSS para você, então por enquanto não se preocupe com a geração disso.</p>

        <h4><strong>Agregadores de Podcasts</strong></h4>
        <p>Agregador é um serviço que reune diversos podcasts utilizando o RSS de cada um para disponibilizar os episódios para download.</p>
        <p>Exemplos de agregadores: Spotify, CastBox, Google Podcasts, Pocket Casts, SoundCloud, etc</p>

        <h4><strong>Publicação utilizando anchor.fm</strong></h4>
        <p>O <a class="underline" href="https://anchor.fm/" target="_blank">anchor.fm</a> é uma plataforma que realiza a distribuição de podcasts de forma gratuita. Essa plataforma irá gerar e manter o seu RSS. Isso significa que no momento em que você realizar o upload dos seus episódios, essa plataforma já irá mandar para todos os agregadores e você não precisa se preocupar com essa parte.</p>
        <p>Nós utilizamos essa ferramenta para publicar nossos episódios. Veja a página do QuebraDev: <a class="underline" href="https://anchor.fm/quebradev" target="_blank">anchor.fm/quebradev</a></p>
        <p>Basta criar sua conta, realizar o upload do audio final do seu episódio e então clicar em publicar.</p>
    </div>
        
    <div class="col-12">
        <div class="contact-mail text-center">
            <p>Se precisar, entre em contato com a gente através do email <a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a></p>
        </div>
    </div>
</div>