<div class="events-wrapper row">
    <div class="col-12">
        <h1 class="bordered-left">Eventos</h1>
    </div>

    <% data.forEach(function(event){ %>
        <div class="event col-lg-6 row">
            <h3><%= event.name %></h3>
            <p><strong>Datas:</strong> <%= event.date %></p>
            <p><strong>Conteúdo:</strong> <%= event.description %></p>
            <p><strong>Onde:</strong> <%= event.location %></p>
        </div>
    <% }) %>
</div>

<div class="events-contact">
    <h3>Entre em contato para saber mais através do e-mail <a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a></h3>
</div>