<section class="text-center description">
    <h1>Um coletivo que tem como objetivo democratizar a informação para a periferia.</h1>
    <p>Veja a agenda do coletivo e nossas próximas atividades: <a href="/agenda/" target="_blank" rel="noreferrer" class="underline">Agenda</a></p>
</section>
