<section class="text-center description">
    <h1>Um movimento social de origem periférica com destino voltado a origem.</h1>
    <p>Veja a agenda do coletivo e nossas próximas atividades: <a href="/agenda/" target="_blank" rel="noreferrer" class="underline">Agenda</a></p>
</section>
