<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-center">
        <a href="/" class="py-2">Episódios</a>
        <a href="/sobre" class="py-2">Sobre</a>
        <a href="/agenda" class="py-2">Agenda</a>
        <a href="/apoie" class="py-2">Apoie</a>
        <a href="/certificados" class="py-2">Certificados</a>
        <a href="/conferencia-tecnologia-e-sociedade-2" class="py-2">Conferência</a>
    </div>
</nav>

<div class="navbar navbar-expand-lg navbar-dark">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/" aria-label="Home">
            <img src="/images/logo.png" alt="">
        </a>
    </div>
    <!-- <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/sobre" data-text="Sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a href="/" data-text="Episódios">Episódios</a>
            </li>
        </ul>
    </div> -->
</div>
