<article>
    <% if (post.showTitle) { %>
        <h1 class="page-title"><%= post.title %></h1>
    <% } %>

    <div class="page-body">
        <%- post.content %>

        <% if (post.uses) { %>
            <%- partial('_partial/' + post.uses, {data: post.data}) %>
        <% } %>
    </div>
</article>