<article>
    <h1 class="page-title"><%= post.title %></h1>

    <div class="page-body">
        <%- post.content %>

        <% if (post.uses && post.uses == 'members') { %>
            <%- partial('_partial/members', {members: post.members}) %>
        <% } %>
    </div>
</article>