<div class="mediakit-wrapper">
    
    <div class="row">
        <div class="col-12 text-center">
            <h1>Revista Técnico-Científica do Coletivo QuebraDev</h1>
        </div>
    </div>

    <div class="events-wrapper-basic row" style="padding-top: 15px;">
        <div class="col-12">
            <h2><b>Sobre a Revista</b></h2>
            <br>
            <p>
                A revista tecno científica do coletivo surge como
                um instrumento de luta e produção de novos
                horizontes a partir da classe trabalhadora e do povo
                periférico.
            </p>
            <p>
                Acreditamos que a tecnologia deve ser construída e debatida sob essa perspectiva, e para isso é fundamental criar espaços que transcendem as
                fronteiras das universidades e empresas. A técnica
                e o conhecimento científico precisam ser
                produzidos pelo povo e para o povo.
            </p>
            <p>
                Por isso, vemos essa iniciativa como essencial para
                ampliar o impacto da tecnologia na sociedade atual. Contamos com 19 submissões, das quais duas
                apresentações e quatro artigos foram aceitos,
                levando isso em consideração, a possibilidade de
                aceitação é de 31,58%, agradecemos todos que
                submeteram as excelentes ideias e propostas e
                colaboraram com o progresso do avanço científico.
            </p>
        </div>
    </div>


    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Última Edição</h1>
        </div>

        <div class="col-3">
            <img src="/images/revista/cover-cts-2.png" style="width: 25vh; height:38vh;" />
        </div>
        <div class="col-9">
            <p>Editor: Coletivo QuebraDev</p>

            <p>Indexadores: BLA</p>

            <p>Publicado: 23/11/2024</p>

            <br><br>

            <a href="https://raw.githubusercontent.com/QuebraDev/cts2/refs/heads/main/FANZINE%20-%20CTS%202024.pdf" target="_blank" title="Download da versão impressa da revista Tecnologia e Sociedade 2" onclick="gtag('event', 'download', { event_category: 'link', event_label: 'Fanzine PDF (CTS2-PAGE)', value: 1});" target="_blank" style="border: solid 1px white; background-color: #000; padding: 15px 40px;">Download</a>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Artigos</h1>

            <div class="event-paper col-12">
                <h3>A assinatura do genocídio nos dados de mortes em gaza</h3>
                <p class="author">Henrique Xavier</p>
                <p> 
                    Doutor em astrofísica com mais de
                    10 anos de experiência em
                    estatística, programação, análise de
                    dados e modelagem matemática.
                    Atua na área de Aprendizado de
                </p>

                <a href="https://doi.org/10.5281/zenodo.15009118" target="_blank"><img src="/images/revista/pdf-icon.svg" width="24"/> Link para o arquivo</a>
                <a href="https://www.youtube.com/watch?v=zmGKLVC4QxU" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a>
            </div>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Palestras</h1>

            <div class="event-paper col-12">
                <h3>Como eu ensino programação para meninas na Brasilândia</h3>
                <p class="author">Larissa Vitoriano</p>
                <p> 
                    Mestra em Tecnologias da
                    Informação, Comunicação e
                    Multimídia pelo Instituto
                    Universitário da Maia, no Porto,
                    Portugal. Jornalista formada pela
                    Faculdade Paulus de Tecnologia e
                    Informação (FAPCOM).
                </p>

                <a href="" target="_blank"><img src="/images/revista/pdf-icon.svg" width="24"/> Link para o arquivo</a>
                <a href="https://www.youtube.com/watch?v=VHMf8eUw29I" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a>
            </div>
        </div>
    </div>
</div>