<div class="mediakit-wrapper">
    
    <div class="row">
        <div class="col-12 text-center">
            <h1>Revista Técnico-Científica do Coletivo QuebraDev</h1>
        </div>
    </div>

    <div class="events-wrapper-basic row" style="padding-top: 15px;">
        <div class="col-12">
            <h2><b>Sobre a Revista</b></h2>
            <br>
            <p>
                A revista tecno científica do coletivo surge como
                um instrumento de luta e produção de novos
                horizontes a partir da classe trabalhadora e do povo
                periférico.
            </p>
            <p>
                Acreditamos que a tecnologia deve ser construída e debatida sob essa perspectiva, e para isso é fundamental criar espaços que transcendem as
                fronteiras das universidades e empresas. A técnica
                e o conhecimento científico precisam ser
                produzidos pelo povo e para o povo.
            </p>
            <p>
                Por isso, vemos essa iniciativa como essencial para
                ampliar o impacto da tecnologia na sociedade atual. Contamos com 19 submissões, das quais duas
                apresentações e quatro artigos foram aceitos,
                levando isso em consideração, a possibilidade de
                aceitação é de 31,58%, agradecemos todos que
                submeteram as excelentes ideias e propostas e
                colaboraram com o progresso do avanço científico.
            </p>
        </div>
    </div>


    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Última Edição</h1>
        </div>

        <div class="col-3">
            <img src="/images/revista/cover-cts-2.png" style="width: 100%; height: auto;" />
        </div>
        <div class="col-9">
            <p>Editor: Coletivo QuebraDev</p>

            <!-- <p>Indexadores: BLA</p> -->

            <p>Publicado: 23/11/2024</p>

            <br><br>

            <a href="https://doi.org/10.5281/zenodo.14781250" target="_blank" title="Download da versão impressa da revista Tecnologia e Sociedade 2" onclick="gtag('event', 'download', { event_category: 'link', event_label: 'Fanzine PDF (CTS2-PAGE)', value: 1});" target="_blank" style="border: solid 1px white; background-color: #000; padding: 15px 40px;">Download</a>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Artigos</h1>

            <div class="event-paper col-12">
                <h3>A assinatura do genocídio nos dados de mortes em gaza</h3>
                <p class="author">Xavier, Henrique</p>
                <p> 
                    Modelamos a distribuição em termos de idade e gênero dos mortos por ataques israelenses em Gaza no final de 2023 para estimar a fração das mortes que decorreram de ataques focados e ataques indiscriminados. Concluímos que 82,6 +/- 0,9% das mortes foram causadas por ataques indiscriminados reforçando as acusações de genocídio atribuídas a Israel.
                </p>

                <a href="https://doi.org/10.5281/zenodo.15009118" target="_blank"><img src="/images/revista/pdf-icon.svg" width="24"/> Link para o arquivo</a>
                <!-- <a href="https://www.youtube.com/watch?v=zmGKLVC4QxU" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a> -->
            </div>
            <br>
            <div class="event-paper col-12">
                <h3>Observatório do Santo Amaro - uma iniciativa crucial para a comunicação social e inclusão digital nas favelas</h3>
                <p class="author">Pessoa, Lucas da Silva Alves</p>
                <p> 
                    Este artigo discute a relevância do Observatório do Morro Santo Amaro, uma iniciativa voltada para a coleta e análise de dados sociais e econômicos sobre a comunidade local.

                    Criado em 2023 e formalizado como um dos Núcleos do projeto Ame o Santo Amaro, o observatório utiliza abordagens qualitativas e quantitativas para mapear a realidade do território.

                    Além de levantar essas informações, o projeto busca sensibilizar os moradores sobre a importância desses dados para o desenvolvimento local e a construção de soluções coletivas.

                    O artigo explora como o observatório incentiva o engajamento comunitário e fortalece as capacidades locais para a geração de conhecimento.
                </p>

                <a href="https://doi.org/10.5281/zenodo.15009137" target="_blank"><img src="/images/revista/pdf-icon.svg" width="24"/> Link para o arquivo</a>
                <!-- <a href="https://www.youtube.com/watch?v=zmGKLVC4QxU" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a> -->
            </div>
            <br>
            <div class="event-paper col-12">
                <h3>Subvertendo Algoritmos e Sistemas de Controle</h3>
                <p class="author">Pessoa, Lucas da Silva Alves</p>
                <p> 
                    A indústria 4.0, marcada pelas transformações digitais globais, resgata antigas expressões da questão social, como o racismo. O estudo analisa a integração das tecnologias da Informação e Comunicação (TIC) e o racismo com o foco no racismo algorítmico e no hacktivismo digital.

                    A partir de uma revisão de textos clássicos e contemporâneos, busca-se entender como o capitalismo global, com este processo de ampla transformação econômica, social, cultural e política, reatualiza esse fenômeno, impondo novos desafios à população negra.

                    Ressalta-se a importência de enfrentar essas inovações tecnológicas com ações coletivas, o oposto ao fardo do nerd branco, que se revela como uma ideologia na imagem habitual do hacker, apresentado como um justiceiro.
                </p>

                <a href="https://doi.org/10.5281/zenodo.15009050" target="_blank"><img src="/images/revista/pdf-icon.svg" width="24"/> Link para o arquivo</a>
                <!-- <a href="https://www.youtube.com/watch?v=zmGKLVC4QxU" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a> -->
            </div>
            <br>
            <div class="event-paper col-12">
                <h3>TBC-DTW: Medição automática de viés midiático baseada em modelagem de tópicos</h3>
                <p class="author">Zitei, Daniel Pereira</p>
                <p> 
                    A crescente presença de notícias falsas, incompletas ou incorretas levanta preocupações no meio acadêmico. Esta pesquisa tem como objetivo desenvolver e avaliar uma abordagem não supervisionada para identificar viés na mídia em língua portuguesa. Para isso, são abordadas duas questões-chave.

                    Primeiro, como organizar artigos de notícias em tópicos usando métodos não supervisionados, incorporando a taxonomia do Internacional Press Telecommunications Council (IPTC) para criar uma nova abordagem.

                    Em segundo lugar, como quantificar o viés entre diferentes veículos de comunicação, com base em características extraídas do conteúdo de artigos de notícias.

                    O estudo utiliza técnicas avançadas como Sentence BERT, BERTopic e Dynamic Topic Modeling para atingir esses objetivos.

                    A métrica TBC-DTW (Dynamic Time Warping) é introduzida como uma abordagem inovadora para medir o viés na mídia ao longo do tempo. Os resultados indicam o potencial dessa abordagem para compreender e comparar o viés na mídia em diferentes fontes
                </p>

                <a href="https://doi.org/10.5281/zenodo.15009155" target="_blank"><img src="/images/revista/pdf-icon.svg" width="24"/> Link para o arquivo</a>
                <!-- <a href="https://www.youtube.com/watch?v=zmGKLVC4QxU" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a> -->
            </div>
        </div>
    </div>

    <div class="events-wrapper row">
        <div class="col-12">
            <h1 class="bordered-left">Palestras</h1>

            <div class="event-paper col-12">
                <h3>Como eu ensino programação para meninas na Brasilândia</h3>
                <p class="author">Larissa Vitoriano</p>
                <p> 
                    Mestra em Tecnologias da Informação, Comunicação e Multimédia pelo Instituto Universitário da Maia, no Porto, Portugal. Jornalista formada pela Faculdade Paulus de Tecnologia e Informação (FAPCOM). Atuo principalmente como professora front-end para crianças e adolescentes e tech community manager. Idealizadora do projeto Mais Meninas na Tecnologia, que visa a educação tecnológica para estudantes entre 8 e 10 anos de escolas públicas periféricas na zona norte de São Paulo. Autora do livro infantil "Minidev: a menina que deseja programar".
                </p>

                <p>
                    O futuro (e o presente!) está sendo escrito por meio de linhas de código. Mas quem coda essa features? Nesta palestra foi contado a história da autora e do projeto social Mais Meninas na Tecnologia, que já impactou mais de 90 meninas na região da Brasilândia, na zona norte de São Paulo, com oficinas maker sobre tecnologia, programação, inteligência artificial e empoderamento de meninas periféricas em situação de vulnerabilidade social. Também desenvolvemos o aplicativo Minidev, que ensina por meio de atividades lúdicas programação e conteúdos front-end. Afinal, o Brasil (e o mundo!) merece ter #MaisMeninasNaTecnologia.
                </p>

                <!-- <a href="https://www.youtube.com/watch?v=VHMf8eUw29I" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a> -->
            </div>
            <br>

            <div class="event-paper col-12">
                <h3>Encruzilhadas da educação: desafios para uma educação tecnológica popular e contra colonial</h3>
                <p class="author">Larissa Vitoriano</p>
                <p> 
                    Marcela foi bolsista do programa Youth do CGI.br em 2024, é graduanda em Ciências Sociais pela Universidade Federal Fluminense, e realiza pesquisas nas áreas de Sociologia Digital e Letramento Digital. Integrante do grupo de pesquisa Pensamento Social em Dados (Data\_PS) e educadora popular de Sociologia, cidadania digital e letramento digital em São Gonçalo - RJ.
                </p>

                <p>
                    A apresentação teve como objetivo abordar as atuais legislações e documentos normativos sobre o currículo em educação digital como a Base Nacional Comum Curricular, o Plano Nacional de Educação Digital e a Lei de Diretrizes e Bases da Educação e suas insuficiências para o contexto brasileiro; e buscou dialogar sobre as diferentes vivências concretas dentro e fora do chão da escola pública e apontará caminhos para uma educação digital que seja emancipadora e forme cidadãos digitais éticos e participativos. 

                    Ademais, elucidou sobre o que se constitui a cidadania digital, que não se restringe ao uso da tecnologia, mas sim o uso ético, responsável, seguro e participativo da Internet. A apresentação buscou demonstrar que a cidadania envolve inclusão, direitos, deveres e obrigações; e que para tal é necessária a integração e o reconhecimento de cada indivíduo enquanto sujeito digno de direitos. Para isso ocorrer, práticas discriminatórias no ambiente digital devem ser combatidas não só através da criminalização como também através de práticas pedagógicas que almejam a formação para cidadania dentro e fora do digital. Cada participante trouxe suas experiências para dialogar de forma interseccional abordando a necessidade de um currículo que leve em conta tanto questões de raça, gênero, classe e sexualidade; entendendo que todas as questões formam um único nó dinâmico sendo inseparáveis de uma sociedade que tem um real compromisso com os direitos humanos.

                    A apresentação teve também como objetivo apresentar possíveis caminhos e medidas a serem adotadas no currículo e nas políticas públicas voltadas para educação digital. Dando enfoque à realidade concreta das escolas e buscando caminhar para uma educação emancipadora que busque não só o desenvolvimento da autonomia, mas também o desenvolvimento do pensamento crítico, antirracista, feminista, anti-LGBTQIA+fóbico, visando a construção de uma sociedade mais justa e participativa.
                </p>

                <!-- <a href="https://www.youtube.com/watch?v=VHMf8eUw29I" target="_blank"><img src="/images/revista/youtube-icon.svg" width="24"/> Link do Vídeo Completo</a> -->
            </div>
        </div>
    </div>
</div>